{% extends 'core/base.html' %}
{% block titulo %}Aplicación para evaluar un modelo{% endblock %}

{% block contenido %}

<section class="container">
    <div class="row">
        <div class="col-12 text-center mt-5 mb-3">
            <h1>Predicción de números</h1>
        </div>
        <div class="col-12 text-center">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="numero" class="form-label">Número a predecir:</label>
                    {{ formulario }}
                </div>
                <button type="submit" class="btn btn-primary">Predecir</button>
            </form>

            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}

            {% if mensaje_url %}
                <p style="color: green;">{{ mensaje_url }}</p>
            {% endif %}
            
            {% if prediccion %}
                <div class="col-md-12">
                    <div class="row">
                        <div class="col">
                            <h2>Resultado de la Predicción:</h2>
                            <p>Clase Predicha: {{ prediccion }}</p>
                            <p>Confianza: {{ confianza|floatformat:2 }}%</p>
                        </div>
                        <div class="col">
                            {% if imagen_preprocesada %}
                            <h3>Imagen preprocesada:</h3>
                            <img src="{{ imagen_preprocesada }}" alt="Imagen Preprocesada" style="max-width: 300px;">
                        {% endif %}
                        </div>
                        <div class="col">
                            {% if imagen_url %}
                            <h3>Imagen Subida:</h3>
                            <img src="{{ imagen_url }}" alt="Imagen Predicha" style="max-width: 300px;">
                        {% endif %}
                        </div>
                    </div>
                </div>               
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}